# We shouldn't really need this, as we should only COPY in the files we need.
# But it's good to have this as a backup.

# Don't include the Helm charts.
/charts

# Don't include the .github configuration stuff.
/.github

# Don't include Python stuff.
/venv

# Don't include IDE stuff.
/.idea
