# Needed for CLI.
click

# Needed for HTTP(S) requests.
requests

# Needed to access LakeFS as a filesystem.
lakefs-spec~=0.11.1

# Needed for data processing.
pandas
numpy

# Needed for PicSure API integration.
git+https://github.com/hms-dbmi/pic-sure-python-client.git
git+https://github.com/hms-dbmi/pic-sure-python-adapter-hpds.git
git+https://github.com/hms-dbmi/pic-sure-biodatacatalyst-python-adapter-hpds.git